<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="clocklife.shenle.com">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写外部存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 容许当前程序改变当前WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 获取当前WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 连接网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- Push service  运行需要的权限  -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:killAfterRestore="false"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- mob -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="@string/MobAppKey"/>
        <meta-data android:name="Mob-AppSecret" android:value="@string/MobAppSecret"/>
        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--集成line客户端登录授权，需要添如下格式的过滤器-->
            <intent-filter>
                <data android:scheme="line.1477692153" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- 支付宝分享回调 -->
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"/>
        <!-- mob用户系统 -->


        <!--融云-->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="@string/RonYunAppKey"/>
        <receiver
            android:name=".base.receiver.RonYunNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED"/>
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED"/>
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED"/>
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED"/>
            </intent-filter>
        </receiver>
        <!--融云-->


        <!--讯飞-->
        <meta-data android:name="IFLYTEK_APPKEY"
                   android:value="@string/XunFeiAppKey"/>
        <meta-data android:name="IFLYTEK_CHANNEL"
                   android:value="your_channel"/>
        !-- push service start -->
        <!-- Push 服务  -->
        <service
            android:name="com.iflytek.pushclient.manager.PushService"
            android:exported="true"
            android:process=":xpush"></service>
        <!--  用于接收系统消息以保证PushService正常运行  -->
        <receiver
            android:name="com.iflytek.pushclient.manager.PushServiceReceiver"
            android:process=":xpush">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.iflytek.pushclient.action.notification.SHOW" />
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求-->
        <receiver
            android:name="com.iflytek.pushclient.manager.RegistrationReceiver"
            android:process=":xpush">
            <intent-filter>
                <action android:name="com.iflytek.pushclient.action.METHOD" />
                <action android:name="com.iflytek.pushclient.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name=".base.receiver.MyPushReceiver">
            <intent-filter>
                <!--  接收 push消息  -->
                <action android:name="com.iflytek.pushclient.action.MESSAGE" />
                <!--  接收 bind、unbind等method 的返回结果  -->
                <action android:name="com.iflytek.pushclient.action.RECEIVE" />
                <!--  可选。接受通知点击事件,删除事件和通知自定义内容  -->
                <action android:name="com.iflytek.pushclient.action.notification.CLICK" />
                <action android:name="com.iflytek.pushclient.action.notification.DELETE" />
            </intent-filter>
        </receiver>
        <!--讯飞-->


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InitActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.WelcomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".FindPasswordActivity"/>
        <activity android:name=".SetPasswordActivity"/>
    </application>

</manifest>